* {
    box-sizing: border-box; }

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
    text-rendering: optimizeLegibility;
    margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline; }

*:focus {
    outline: none; }

audio:not([controls]) {
    display: none;
    height: 0; }

[hidden],
template {
    display: none; }

a {
    text-decoration: none; }

a:active,
a:hover {
    outline: 0; }

ul,ol,p {
    margin: 0;
    padding: 0;
}

abbr[title] {
    border-bottom: 1px dotted; }

b,
strong {
    font-weight: bold; }

small {
    font-size: 80%; }

img {
    border: 0; }

svg:not(:root) {
    overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
    border: none;
    color: inherit;
    font: inherit;
    margin: 0; }

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
    outline: none; }

button {
    overflow: visible; }

button,
select {
    text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }

button[disabled],
html input[disabled] {
    cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
    border-radius: 0; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

textarea {
    overflow: auto; }

optgroup {
    font-weight: bold; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

td, th {
    padding: 0; }

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0; }

.clearfix::after {
    content: '';
    display: block;
    clear: both; }
a {
    display: block;}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
}
footer {
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}

.wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden; }

::-moz-selection {
    background: #43be93;
    color: #fff;
    /* Safari */ }

::selection {
    background: #43be93;
    color: #fff;
    /* Safari */ }

::-moz-selection {
    background: #43be93;
    color: #fff;
    /* Firefox */ }

::-webkit-file-upload-button {
    cursor:pointer;
}

body {
    background: #fff;
    color: #151515;
    font-family: Arial;
    font-size: 14px; }

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.container {
    padding: 20px;
    width: 1200px;
    margin: 0 auto; }

.arrow {
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
.arrow svg {
    height: auto;
    width: 100%; }
.arrow.left {
    left: -50px; }
.arrow.right {
    right: -50px; }

.title {
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px; }
.title-small {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; }

.text-center {
    text-align: center; }

section {
    margin-bottom: 20px; }

.slider {
    position: relative; }
.slider .slider__wrapper {
    width: 100%; }
.slider .slide {
    border: 1px solid;
    height: 150px;
    width: 30%; }

.work-hours__table {
    text-align: center; }
.work-hours__table .item {
    width: calc(100% / 7); }
.work-hours__table .header {
    margin-bottom: 10px; }

.service__table {
    border-right: 1px solid #151515;
    border-bottom: 1px solid #151515;
    width: 100%; }
.service__table .item {
    border-left: 1px solid #151515;
    border-top: 1px solid #151515;
    padding: 20px;
    text-align: center;
    width: calc(100% / 3); }

/*# sourceMappingURL=styles.css.map */
